.main_div{
    width: 12%;
    background-color: rgb(252, 248, 238);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.delete-button{
    margin-left: 5px;
}

.edit-button{
    margin-left: 5px;
}

.line-button{
    border-bottom: 1px solid black;
}