body {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 8%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
p {
    display: block;
    color: #000;
    padding: 0px 16px;
  }

.sidebar-section {
    padding: 8px 16px;
  }

.sidebuttons{
    width: 80px;
    margin-left: 10px;
    margin-top: 8px;
}

.breakline{
    border-top: 0.7px solid rgb(163, 163, 163);
}

.sidebuttons1{
    border-top: 0.7px solid rgb(163, 163, 163);
    margin-right: 15px;
    width: 80px;
}