.main_div{
    width: 12%;
    background-color: rgb(252, 255, 248);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.delete-button{
    margin-left: 5px;
}

.edit-button{
    margin-left: 5px;
}

.line-button{
    border-bottom: 1px solid black;
}



.button-sidebar {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-sidebar:hover {
  background-color: rgb(249,250,251);
}

.button-sidebar:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-sidebar:focus-visible {
  box-shadow: none;
}