.inputcontainer{
    padding-left: 170px;
    padding-top: 20px;
}

.inputarea{
    border: none;
    border-bottom: 2px solid rgb(202, 202, 202);
}

.savebutton{
    color: rgb(255, 255, 255);
    background-color: #4CAF50;
    border: none;
    margin-left: 250px;
    margin-top: 10px;
}

.editbutton{
    color: rgb(255, 255, 255);
    background-color: #245ee4;
    border: none;
    margin-left: 10px;
    margin-top: 8px;
}

.deletebutton{
    color: rgb(255, 255, 255);
    background-color: #dd283a;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
}

.addsectionbutton{
    color: rgb(255, 255, 255);
    background-color: #898989;
    border: none;
    margin-left: 250px;
    margin-top: 10px;
}